@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&display=swap");

.jua-regular {
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}
.inter-reular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
  font-family: "Inter", serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.header {
  text-align: left;
  margin: 0;
  padding: 0px 20px 20px 0px;
}
.header img {
  width: 120px;
  height: auto;
  object-fit: contain;
}
.blay-main {
  position: relative;
  padding: 20px 28px;
  background-color: #000000;
}
.container {
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.02);
  background: radial-gradient(
    93.92% 70.59% at 53.18% 47.16%,
    rgba(27, 27, 27, 0) 0%,
    #1b1b1b 72.28%
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.item1 {
  background: radial-gradient(
      134.72% 70.71% at 50% 50%,
      rgba(228, 110, 27, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(0deg, rgba(12, 10, 11, 0.5) 0%, rgba(12, 10, 11, 0.5) 100%),
    radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(27, 27, 27, 0) 0%,
      rgba(27, 27, 27, 0.8) 100%
    );
}
.item-block {
  border-radius: 12px 0px 0px 12px;
  border: 2px solid rgba(37, 37, 39, 0.3);
  height: 100%;
}
.flex {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 12px;
  height: calc(100vh - 40px);
}
.item1 {
  width: 24%;
  padding: 10px;
}
.item2 {
  width: 76%;
  padding: 10px 10px 10px 0;
  border-radius: 20px;
}
.left-panel-chat {
  cursor: pointer;
  border-radius: 24.846px;
  border: 1.553px solid rgba(255, 255, 255, 0.06);
  background: linear-gradient(
      92deg,
      rgba(228, 110, 27, 0.2) 15.83%,
      rgba(23, 23, 23, 0.2) 63.01%,
      rgba(23, 23, 23, 0.2) 89.64%
    ),
    rgba(255, 255, 255, 0.02);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  width: 80%;
  font-weight: 600;
}
.left-panel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.left-panel-chat img {
  width: 18px;
  margin-right: 6px;
}
.bridge {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.bridge img {
  margin-right: 14px;
  width: 18px;
  height: 18px;
}
.bottom-signin .hUYyCx {
  background: linear-gradient(
    180deg,
    #e46e1b -2.68%,
    #c55100 102.59%
  ) !important;
  padding: 12px 18px;
  border: 1px solid #e46e1b;
  border-radius: 4px;
  width: 100%;
  height: 42px !important;
  cursor: pointer;
  transition: 0.5s all ease-out;
  color: #fff;
}
.bottom-signin button:hover {
  background: transparent;
}
.bottom-signin ul {
  display: flex;
  align-items: center;
  gap: 6px;
  list-style-type: none;
  flex-wrap: wrap;
}
.bottom-signin ul li img {
  width: 48px;
}
.item2-block {
  border-radius: 0px 12px 12px 0px;
  border: 2px solid rgba(37, 37, 39, 0.3);
  padding: 20px 0 20px 20px;
  height: 100%;
}
.beta-status {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.04);
  color: #ffffff66;
  width: fit-content;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.beta-status span {
  color: #fff;
  margin-right: 6px;
}
.chat-input {
  display: flex;
  align-items: center;
  gap: 6px;
  position: fixed;
  width: 68.5%;
  bottom: 40px;
}
.chat-input input {
  width: 100%;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.03);
  border: 0;
  padding: 16px 16px;
}
.chat-input button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.chat-input img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.chat-input input:focus-visible {
  outline: 0;
  box-shadow: 0px 0px 1px #cccccc12;
}
.chat-block {
  /* max-height: 60vh; */
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* height: 82%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.agent-chat {
  display: flex;
  background: #2020243d;
  padding: 20px;
  border-radius: 10px;
  width: 72%;
}
.agent-chat img {
  width: 32px;
  height: 32px;
}
.agent-msg {
  margin-left: 8px;
  font-size: 14px;
  overflow: auto;
}
.agent-msg strong {
  word-wrap: break-word;
  white-space: normal;
}
.agent-msg p {
  margin-bottom: 8px;
  line-height: 1.4;
}
.agent-msg ol {
  padding-left: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.agent-chat ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 6px;
}
.agent-chat ul li {
  width: 50%;
  margin-bottom: 8px;
  background: url(/check.svg) no-repeat;
  padding-left: 24px;
  background-size: 18px;
  line-height: 1.4;
}
.margin-small-top {
  margin-top: 10px;
}
.user-chat {
  text-align: right;
  width: 60%;
  margin-left: auto;
  font-size: 14px;
}
.connect-smart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #2020244f;
  padding: 12px 20px 12px 14px;
  border-radius: 12px;
  width: 78%;
  margin-bottom: 10px;
}
.connect-smart-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.create-info div:first-child {
  font-weight: 800;
}
.create-info div:last-child {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 4px;
}
.create-wallet {
  border: 1px solid #252527;
  padding: 2px 0px;
  border-radius: 10px;
}
.create-wallet button {
  background: url(/wallet-bg.svg) no-repeat;
  background-position: center;
  background-size: 160px 48px;
  border: 0;
  padding: 13px 42px;
  border-radius: 4px;
  font-family: "Inter", serif;
  text-transform: capitalize;
  min-width: 168px;
  cursor: pointer;
}
.landing-container {
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.02);
  background: url("/landing-bg.svg");
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  height: calc(100vh - 40px);
  background-position: center;
}
.landing-container .header {
  text-align: center;
  margin-top: 26px;
}
.landing-main {
  height: 86%;
  width: 48%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.landing-img {
  width: 100%;
  height: auto;
}
.landing-graphics {
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 1;
  color: #000;
  font-family: "Jua", serif;
}
.landing-block {
  position: relative;
  width: 100%;
}
.landing-graphics div:first-child {
  font-weight: 600;
}
.landing-graphics div:last-child {
  font-size: 14px;
  margin-top: 6px;
  width: 50%;
}
.loader-block img {
  width: 32px;
  height: auto;
}
.chat-default {
  position: absolute;
  bottom: -6px;
}
.chat-default ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.chat-default ul li {
  font-size: 12px;
}
.chat-default ul li > div {
  border-radius: 12.5px;
  border: 1.25px solid #ffffff26;
  opacity: 1;
  background: #101010;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chat-default ul li svg {
  width: 14px;
  margin-right: 4px;
}
.chat-default ul li:hover {
  color: #e46e1b;
}
.chat-default ul li:hover > div {
  border: 1.25px solid #e46e1b;
}
.chat-default ul li:hover svg path {
  fill: #e46e1b;
}
.chat-section {
  position: relative;
}
.chat-flow {
  padding-right: 28px;
}
.user-avatar {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.user-avatar-img {
  margin-left: 8px;
}
.user-avatar-img img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  background: #ccc;
}
.profile-avatar img {
  width: 40px;
  height: 40px;
}

.loader {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: #000000ce;
  top: 0;
  left: 0;
  z-index: 100;
}

.dot {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #c55100;
  animation: bounce 1.3s linear infinite;
}

.dot:nth-child(1) {
  left: -1.5rem;
}

.dot:nth-child(2) {
  animation-delay: -1s;
}

.dot:nth-child(3) {
  right: -2.5rem;
  animation-delay: -0.8s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.profile-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
/* .profile-address:hover .profile-wallet{
  text-decoration: underline;
} */
.profile-address img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chain-name {
  color: #e46e1b;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.profile-signout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  background: #2020244f;
  padding: 12px;
  border-radius: 10px;
}
.profile-avatar {
  display: flex;
  align-items: center;
}
.profile-avatar img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-avatar div {
  font-weight: 700;
  font-size: 14px;
}
.signout-btn button {
  background: linear-gradient(
    180deg,
    #e46e1b -2.68%,
    #c55100 102.59%
  ) !important;
  padding: 8px 48px;
  border: 1px solid #e46e1b;
  border-radius: 4px;
  width: 100%;
  height: 38px !important;
  cursor: pointer;
  transition: 0.5s all ease-out;
  color: #fff;
}
.account-block {
  width: 60%;
  background: #2020244f;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
}
.account-heading {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 14px;
}
.accoount-item1 {
  width: 80%;
  background: rgba(27, 27, 27, 0.8);
  padding: 20px;
  border-radius: 12px;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.account-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.acc-item {
  display: flex;
  align-items: center;
}
.p-block {
  background: radial-gradient(
      72.3% 59.56% at -16.67% 36.67%,
      rgba(228, 110, 27, 0.1) 0%,
      rgba(228, 110, 27, 0) 100%
    ),
    linear-gradient(180deg, #1f1f21 30%, #202022 100%);
  margin-right: 12px;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.04);
}
.p-wallet div:first-child {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 4px;
}
.p-wallet div:last-child {
  font-weight: 700;
}
.copy-wallet {
  position: relative;
  cursor: pointer;

  padding: 6px 8px 4px;
  border-radius: 7px;
}
.copy-wallet:hover {
  background: #ffffff1a;
}
.copy-wallet svg {
  opacity: 0.35;
  width: 14px;
  height: 14px;
}
.flex1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.flex2 {
  margin-left: 60px;
  position: relative;
}
.line {
  color: transparent;
  position: absolute;
  left: -10%;
  top: -15px;
}

.copy-text {
  position: absolute;
  width: 60px;
  right: -20px;
  top: -29px;
  background: #2c2f34;
  padding: 4px 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.img-mb,
.header-mb {
  display: none;
}
/* Burger Menu Button */
.burger {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* Right-Side Menu */
.menu {
  position: fixed;
  top: 0;
  right: -300px; /* Hidden initially */
  width: 250px;
  height: 90%;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: radial-gradient(
    89.77% 129.45% at 53.18% 53.16%,
    rgba(27, 27, 27, 0) 0%,
    #1b1b1b 72.28%
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  backdrop-filter: blur(18px);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  z-index: 1002;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.header .close img {
  width: 20px;
}
/* Show Menu */
.menu.open {
  right: 0;
}

/* Close Button */
.close {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

/* Navigation Links */
nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

nav ul li {
  margin: 15px 0;
}
nav ul li .profile-address {
  text-align: left;
  border-radius: 12px;
  border: 2px solid rgba(37, 37, 39, 0.5);
  padding: 10px 14px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.logout {
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
}
.mobile-menu nav ul li img {
  width: 20px;
  height: 20px;
}
.header .logout img {
  width: 12px;
  margin-right: 8px;
  margin-left: 6px;
}
.logout {
  display: flex;
  align-items: center;
}
.mobile-social {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.mobile-social li img {
  width: 38px;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

/* Overlay (Click Outside to Close) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media (max-width: 1240px) {
  .landing-main {
    width: 78%;
  }
  .accoount-item1 {
    width: 100%;
  }
  .account-block {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .agent-chat {
    width: 90%;
    padding: 14px;
  }
  .agent-chat ul li {
    width: 100%;
  }
  .user-chat {
    width: 90%;
  }
  .left-panel {
    padding: 10px;
  }
  .header img {
    width: 90px;
  }
  .blay-main {
    padding: 20px 18px;
  }
  .left-panel-chat {
    font-size: 12px;
  }
  .bridge {
    font-size: 12px;
  }
  .bottom-signin ul li img {
    width: 34px;
  }
  .profile-address {
    font-size: 12px;
  }
  .profile-address img {
    width: 30px;
    height: 30px;
  }
  .agent-msg,
  .user-chat {
    font-size: 12px;
  }
  .agent-chat ul {
    flex-direction: column;
  }
  .chat-default ul li > div {
    padding: 4px 12px;
    font-size: 10px;
  }
  .agent-chat img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 768px) {
  .landing-main {
    width: 90%;
  }
  .chat-default {
    width: 100%;
    overflow-x: auto;
  }
  .chat-default ul {
    flex-wrap: nowrap;
    width: 510px;
    padding-bottom: 10px;
  }
  .container.flex {
    display: block;
    height: calc(100vh - 76px);
  }

  .item1 {
    display: none;
  }
  .item1,
  .item2 {
    width: 100%;
  }
  .header-mb {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  .item2 {
    padding: 8px;
  }
  .item2-block {
    border-radius: 12px;
    border: 0;
    padding: 0;
    height: 100%;
  }
  .chat-input {
    bottom: 16px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .beta-status {
    font-size: 12px;
  }
  .chat-flow {
    padding-right: 0;
    height: calc(-210px + 100vh) !important;
  }
  .chat-input input {
    padding: 12px 16px;
  }
  .chat-input img {
    width: 38px;
    height: 38px;
    object-fit: contain;
  }
  .account-block {
    width: 100%;
  }
  .accoount-item1 {
    padding: 10px;
  }
  .p-block {
    padding: 6px 10px;
    font-size: 12px;
  }
  .p-wallet {
    font-size: 12px;
  }
  .flex2 {
    margin-left: 30px;
  }
}
@media (max-width: 600px) {
  .landing-main {
    width: 90%;
  }
  .landing-graphics div:last-child {
    width: 100%;
  }
  .landing-graphics {
    top: 34px;
    left: 46px;
    width: 70%;
  }
  .img-mb {
    display: block;
    width: 80%;
    margin: auto;
  }
  .large-sx {
    display: none;
  }
  .landing-container .header {
    margin-top: 16px;
  }
  .profile-signout{
    width: 100%;
  }
  .connect-smart{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 400px) {
  .profile-signout {
    flex-direction: column;
    width: 100%;
  }
  .profile-avatar {
    margin-bottom: 14px;
  }
}
@media (max-width: 340px) {
  .landing-main {
    width: 100%;
  }
  .landing-graphics div:last-child {
    width: 100%;
  }
  .landing-graphics {
    top: 28px;
    left: 30px;
    width: 80%;
  }
  .img-mb {
    display: block;
    width: 90%;
    margin: auto;
  }
  .large-sx {
    display: none;
  }
  .landing-container .header {
    margin-top: 16px;
  }
}
